 text{







 }
 button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #66ff66;
  color: ghostwhite;
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: black;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 










#body{
margin:100px ;
height: 100px;
width: 100px;


}

#button{
    border-color: #ffffff;
    position: relative;
    background: #fff;
    border-radius: 0%;
    margin: 0px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    cursor: pointer;
    transition: 2,5 s ease;
    -webkit-transition: 1,5 ease; 
    border-radius: 51px;
background: #ffffff;
 
}





.wrapper {
    display: inline-flex;
    list-style: none;
    height: 1px;
border-radius: 0%;
    width: 100%;
    padding-top: 1px;
    font-family: "Poppins", sans-serif;
    justify-content: right;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 30px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 10px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    align-items: center;
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "SIGUENOS!";
    height: 10px;
    width: 10px;
    background: #9ffd7aa6;
    bottom: -3px;
   right: 70%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
 


  }
  #titulo{
width: 200px;
height: 200px;



  }
#name {
    background-color: hsl(135, 24%, 45%);
}
#Perrito1 {
    transition: 1,5 s ease;
    -webkit-transition: 1,5 ease; 
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}

#Perrito1:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
#hi{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#hi:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#hola{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#hola:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#michi{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#michi:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#petts{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#petts:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#perro{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#perro:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#ume{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#ume:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#peine{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#peine:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#comedero{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#comedero:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#camisa{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#camisa:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#casita{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#casita:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#juguetes{
    background-color: darkgreen;
}
#mordedero{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#mordedero:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#pelota{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#pelota:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#juguete{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#juguete:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#cuerda{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#cuerda:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#alimento{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#alimento:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}