#boton{
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 45px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}





.wrapper {
    display: inline-flex;
    list-style: none;
    height: 1px;
border-radius: 0%;
    width: 100%;
    padding-top: 1px;
    font-family: "Poppins", sans-serif;
    justify-content: right;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 45px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 10px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  
#titulo{
    margin: 8px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    

    
}

button {
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
  }
  
  button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }
  

#name {
    background-color: hsl(135, 24%, 45%);
 
}
#Perrito1 {
    transition: 1,5 s ease;
    -webkit-transition: 1,5 ease; 
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}

#Perrito1:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
#hi{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#hi:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#hola{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#hola:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#michi{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#michi:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#petts{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#petts:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#perro{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#perro:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#peine{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#peine:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#comedero{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#comedero:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}
#camisa{
    transition:1,5 s ease;
    -wedkit-transition: 1,5 ease;
    border-radius: 51px;
background: #9a78d9;
box-shadow: inset -26px -26px 51px #7a5fab,
            inset 26px 26px 51px #ba91ff;
}
#camisa:hover {
    transform: scale(1.2);
    -wedkit-transform: scale(1.2);
}