#name{background-color: rgb(245, 176, 112);

align-items: center;
transition: 1.55 ;

}
#lastname{          margin: 1%;
    background-color: rgb(252, 203, 157);

}
#lastname2 { margin: 0%;}
#petshop{

transition:1,5 ease;-webkit-transition:1,5 ease;

}
#pet:hover{

transform:scale(2);-webkit-transform:scale(2);

}
